In [12]:
#To print the Triangle triangle
num=int(input("enter the numer of rows"))
n=1
for i in range (num):
    for j in range (i+1):
        print(n,end ="   ")# to the "*" insted off number print("*",end)
    n=n+1
    print()

enter the numer of rows5
1
2   2
3   3   3
4   4   4   4
5   5   5   5   5

In [24]:
#to print the values using FORMAT function
num=int(input("enter the numer of rows do you want"))
n=1
for i in range (num):
    for j in range (i+1):
        print(format(n,"<5"),end=" ")
    n=n+1
    print()

enter the numer of rows do you wany5
1
2     2
3     3     3
4     4     4     4
5     5     5     5     5

In [35]:
# print the values in Peramid shape
num=int(input ("enter the number of rows do you want"))
n=1
for i in range(num):
    for j in range(num-i-1):
        print(end="  ")
    for j in range (i+1):
        print(n,end= "   ")
        n=n+1
    print()

enter the number of rows do you want5
        1
      2   3
    4   5   6
  7   8   9   10
11   12   13   14   15

In [45]:
# print the values in Peramid shape
num=int(input ("enter the number of rows do you want"))
n=1
for i in range(num):
    for j in range(num-i-1):
        print(format(" ","<3"),end="")
    for j in range (i+1):
        print(format(n,"<6"),end= "")# j size is double for spaces
        n=n+1
    print()

enter the number of rows do you want5
            1
         2     3
      4     5     6
   7     8     9     10
11    12    13    14    15

In [13]:
#floor division
3//2

1

In [14]:
3/2

1.5

In [15]:
"su">"sum"

False

In [16]:
"su"<"sum"

True

In [17]:
print(2 and 3)

3

In [18]:
print(2&3)

2

In [ ]:
if :
if if if :all conditions will be executed,multiple o/p wiil cum
if else
nested if else
if elif elif:only one condtion is excuted
if elif else

# format method
%,{}
It will dispaly the type and value format
% Using these Type is Importent
{} Value is Importent

In [55]:
name="ashok"
age=26
sal=85000.65
#%S:It consider type it will dispaly the stings
#%d:it consider interger values
#%g,%f:it will dispaly the long type values
#-------------------------------------------------------
# to print the values in different approches
#approches-1
print(name,age,sal)
#approches-2
print("name is :",name)
print("age is :",age)
print("sal is :",sal)
#===============================
#aprocah-3 using % opertor type is important
print("name:%s, age:%d,sal:%g"%(name,age,sal))
#==========================================
#approcah-4 {} Here Value will be importtant
print("name:{} age:{} sal:{}".format(name,age,sal))
#approach-5 to print the values based on index's
print("name:{0} age:{1} sal:{2}".format(name,age,sal))

ashok 26 85000.65
name is : ashok
age is : 26
sal is : 85000.65
name:ashok, age:26,sal:85000.6
name:ashok age:26 sal:85000.65
name:ashok age:26 sal:85000.65

In [4]:
#get
n=int(input())
names=[]
out=[]
for i in names:
    if i[0] in "aeiou":
        out.append(names)
out

2

[]