In [3]:
l=[]
print(l)

[]

# dictnory

  
 How to creat e the dictnory {}
 it is will key and value format
 what are the rules for key
 ---it is immutable
 ---how the operation will work on dict

In [ ]:
#note:To mainten the Unique  in set but using the tuple() with in the dictonary

In [4]:
empty_marks={}
print(empty_marks)

{}

In [5]:
empty_marks={}
print(empty_marks,type(empty_marks))

{} <class 'dict'>

In [38]:
#syx:{key:value,key:value.....}
#hher key is unique
marks={"ashok":78,"chanti":92,"srinu":56}
print(marks)

{'ashok': 78, 'chanti': 92, 'srinu': 56}

In [27]:
marks1={"ashok":78,"chanti":92}
print(marks1)

{'415': 78, '419': 92}

In [17]:
#to get the dictnory values with in the List
marks_names={['hema',567]:98,["ashok",567]:56}
marks_names

TypeError: unhashable type: 'list'

In [16]:
#to get the dictnory values with in the tuple
marks_names={('hema',567):98,("ashok",567):56}
marks_names

{('hema', 567): 98, ('ashok', 567): 56}

In [1]:
print(marks['ashok'])
print(marks1['ashok'])
print(marks_names[('hema',567)])

NameError: name 'marks' is not defined

In [22]:
#how to add the element to the dictonary
marks['413']=57
print(marks)

{415: 78, 419: 92, '413': 57}

In [ ]:
marks()

In [23]:
#to update a value in dict
marks['413']=87
print(marks)

{415: 78, 419: 92, '413': 87}

In [24]:
#if the key is not 'key' this format but it will create the new value
marks[413]=87#here both are intergers
print(marks)

{415: 78, 419: 92, '413': 87, 413: 87}

In [25]:
var='413'
print(marks[var])

87

In [26]:
var1="555"
marks[var1]=99
print(marks)

{415: 78, 419: 92, '413': 87, 413: 87, '555': 99}

In [39]:
#for loop
for x in marks :
    print(x,end =" ")#get the key  form dict

ashok chanti srinu

In [26]:
for x in marks :
    print((marks)[x],end =" ")#get all the values in the dict

NameError: name 'marks' is not defined

In [47]:
#ashok:78
#chanti:92
for x in marks:
    print('"'+x+'":'+str(marks[x]))

"ashok":78
"chanti":92
"srinu":56

In [12]:
#To get the Qubes of the given range with in dictonary
d={}
for x in range(1,11):
    d[x]=x**3
d

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [106]:
#To get the vowel and consonents  with in dictonory
#i/p:["ian","hari","ashok","chanti","umesh","pallapu"]
#o/p:vowels:{["ashok","umesh"]
#consonents:["hari","chanti","pallapu"]}
out={}
names=["ashok","chanti","umesh","adi","mango","water"]
for i in range (len(names)):
    if names[i][0] in "aeiou":
           if 'vowels' in out:
                out['vowels'].append(names[i])
           else:
                out['vowels']=[names[i]]
    else:
           if 'consonents' in out:
                out['consonents'].append(names[i])
           else:
                out['consonents']=[names[i]]
print(out)

{'vowels': ['ashok', 'umesh', 'adi'], 'consonents': ['chanti', 'mango', 'water']}

In [25]:
#To get the values in set{}format
names=["ashok","chanti","umesh","ashok","chanti","adi","adi"]
set(names)

{'adi', 'ashok', 'chanti', 'umesh'}

In [27]:
#To get the values Lst[] format
names=["ashok","chanti","umesh","ashok","chanti","adi","adi"]
list(names)

['ashok', 'chanti', 'umesh', 'ashok', 'chanti', 'adi', 'adi']

In [26]:
#To get the unique names on list
unique_names=[]
names=["ashok","chanti","umesh","ashok","chanti","adi","adi"]
for i in names:
    if i not in unique_names:#memnership operator
        unique_names.append(i)
unique_names

['ashok', 'chanti', 'umesh', 'adi']

In [23]:
#To get the unique names with count
unique_names=["ashok","chanti","ashok","srinu","chanti","pallapu","ongole","ongole","prakasam"]
unique_words=(list(set(unique_names)))#(unique_names is M T list
word_count={}
for  word in unique_names:
    
    if word in word_count:
        word_count[word]+=1
    else:
        word_count[word]=1
word_count

{'ashok': 2, 'chanti': 2, 'srinu': 1, 'pallapu': 1, 'ongole': 2, 'prakasam': 1}

In [14]:
#To get the word frequency as a dict from text above keys as unique words
#value is number of times that key occured in text
text='apple is gud banna is gud mango is very gud'
words = []
for word in text.split():
        words.append(word.lower())
print(list(set(text)))

['y', 'm', 'n', 'a', 'd', 'u', 'g', 's', 'o', 'v', ' ', 'i', 'b', 'l', 'e', 'r', 'p']

In [16]:
text='apple is gud banna is gud mango is very gud apple'
words = []
for word in text.split():#here word is one of the key word in python
    words.append(word.lower())#Here lower() will change all the characters in lower case
print(list(set(words)))

['mango', 'gud', 'very', 'is', 'banna', 'apple']

In [17]:
unique_words = list(set(words))
word_count = {}
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
word_count

{'apple': 2, 'is': 3, 'gud': 3, 'banna': 1, 'mango': 1, 'very': 1}

 # Note:WORD is the predifine Key word in python it is identify the each and every word of the list

In [11]:
#To get the list of elements with uppercase and unique
text="ashok coming from JNTU to istitute"
words=[]
for word in text.split():
    words.append(word.upper())
print(list(set(words)))

['JNTU', 'TO', 'COMING', 'ASHOK', 'FROM', 'ISTITUTE']

In [13]:
text='dnckjsvv'
set(text)
print(text)

dnckjsvv

In [28]:
list(text)

['d', 'n', 'c', 'k', 'j', 's', 'v', 'v']

In [29]:
text.split()

['dnckjsvv']

In [30]:
set(text.split())

{'dnckjsvv'}

In [36]:
#read the number of students from user
#Read the details of students into a list. Each sublist contains below details
#studentName,RollNumber,Marks,Language in a single line
#example "raj,416,56,python"
#Create a dict in which 
#key is a tuple contains name and roll number
#value is a dict with language as key marks as value
#Output Format 
#{("Hari",678):{"C":94},("Renu",546):{"Python":75}

#u={(list(set(unique_names)))}
#unique_words=(list(set(unique_names)))#(unique_names is M T list
w={}
for  i in (u):
    s=input().split()
    s[1]=int(s[1])
    s[2]=int(s[2])
    s1=[tuple(s[0:2]),s[2],s[3]]
    w.append(s1)    
w

TypeError: unhashable type: 'list'

In [31]:
n=int(input())
stu=[]
for i in range(n):
    s=input().split()
    s[1]=int(s[1])
    s[2]=int(s[2])
    s1=[tuple(s[0:2]),s[2],s[3]]
    stu.append(s1)
stu

2
ashok 634 55 65 li
chanti 632 45 75 py

[[('ashok', 634), 55, '65'], [('chanti', 632), 45, '75']]

In [37]:
n=int(input())
stu={}
for i in range(n):
    s=input().split()
    s[1]=int(s[1])
    s[2]=int(s[2])
    s1=[tuple(s[0:2]),s[2],s[3]]
    stu.append(s1)
stu

2
ashok:101 chanti:102

ValueError: invalid literal for int() with base 10: 'chanti:102'