In [1]:
l1 = [4,67,8,9]
l2 = [1,2,3,4]
#o/p :[5,69,11,13]
out = []
for i in l1:#4
    for j in l2:#1,2,3,4
        out.append(i+j)
out

[5, 6, 7, 8, 68, 69, 70, 71, 9, 10, 11, 12, 10, 11, 12, 13]

In [2]:
out = []
for i in range(len(l1)):
    out.append(l1[i]+l2[i])
out

[5, 69, 11, 13]

In [3]:
out = [l1[i]+l2[i] for i in range(len(l1))]
out

[5, 69, 11, 13]

In [4]:
# get the numbers which are not multiple of 3 as a list using
# listcomprehension
mul3 = [i for i in out if i%3!=0]
mul3

[5, 11, 13]

In [6]:
# replace the multiples of 3 with -1.
out1 = [i if i%3!=0 else -1 for i in out ]
out1

[5, -1, 11, 13]

In [8]:
out.extend([2,8,9,6])

In [9]:
out

[5, 69, 11, 13, 2, 8, 9, 6]

In [13]:
# replace muliples of 2 with -2
# replace multiples of 3 with -1
# If it is a multiple of both replace it with -2
out1 = []
for i in out:
    if i%2==0:
        out1.append(-2)
    else:
        if i%3 == 0:
            out1.append(-1)
        else:
            out1.append(i)
print(out1)
print(out)
out2 = [-2 if i%2==0 else -1 if i%3==0 else i for i in out]
print(out2)

[5, -1, 11, 13, -2, -2, -1, -2]
[5, 69, 11, 13, 2, 8, 9, 6]
[5, -1, 11, 13, -2, -2, -1, -2]

###### List comprehension with nested for

In [14]:
l1,l2

([4, 67, 8, 9], [1, 2, 3, 4])

In [15]:
out = []
for i in l1:#4
    for j in l2:#1,2,3,4
        out.append((i,j))
out

[(4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (67, 1),
 (67, 2),
 (67, 3),
 (67, 4),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4)]

In [17]:
numbers = [(i,j) for i in l1 for j in l2]
numbers

[(4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (67, 1),
 (67, 2),
 (67, 3),
 (67, 4),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4)]

In [24]:
l2 = [[23,45],[78,96],[56,12]]
# o/p = [23,45,78,96,56,12]
out2 = [i for j in l2 for i in j]
out2

[23, 45, 78, 96, 56, 12]

In [21]:
# common elements in two lists using list comprehension
l3 = list(range(5,20,2))
l4 = list(range(1,20,2))
print(l3,l4)
[i for i in l3 for j in l4 if i==j]

[5, 7, 9, 11, 13, 15, 17, 19] [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

[5, 7, 9, 11, 13, 15, 17, 19]