 # conditional statements

In [ ]:
x=10
y=20
if x>y:
    print("true")
else:
    print("false")

In [ ]:
n=int(input("Enthe the vale" ))
if n%2==0:
    print("given no is even")
else:
        print("given no is odd")

In [3]:
## check whether the given number is divisible by 3 and 5
n=int(input("enter the number"))
if n%3==0 and n%5==0:
    print("given no is divisible by 3 and 5")
else:
    print("given no is not divisible by 3 and 5")

enter the number15
given no is divisible by 3 and 5

In [2]:
##check the given num is possitive or negitive or zero
n=int(input("enthr any number"))
if n==0:
    print("given num is zero")
elif n>0:
    print("given num is possitive")
else:
    print("given num is negitive")

enthr any number10
given num is possitive

 # looping statements
 
##using while condition

In [1]:
n=int(input("enter the limit :"))
i=1
while i<=n :
    print(i)
    i=i+1

enter the limit :12
1
2
3
4
5
6
7
8
9
10
11
12

In [4]:
##print the sum of even num in a given range
n=int(input("enter the range :"))
i=1
even=0
while i<=n :
    if i%2==0 :
        even =even+i
    i=i+1
print(even)

enter the range :12
42

In [9]:
##to print reverse number
##input :321
##output 123

n=int(input("enter the input :"))
while n!=0:
    print(n%10,end="")
    n=n//10

enter the input :9866115958
8595116689

In [7]:
##for loop
n=15
for i in range(1,n+1):
    print(i,end = "")

123456789101112131415

In [16]:
##break statement
n=15

for i in range(1,n+1):
    print(i,end =" ")
    if i==14: #Here Terminate the loop in" i" th value
        break

1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [19]:
##continue statement
n=15
for i in range(1,n+1):
    if i == 10:# Here continue the loop ofter eliminating  "i" value
        continue
    print(i   , end = "  ")

1  2  3  4  5  6  7  8  9  11  12  13  14  15

In [ ]:
name=["apple,bananna,cherry,mango"]
while name=="bannna":
    break
    print(name ,end="")

 # list 
 ## list:list is immutable i.e the value will not change

In [20]:
l1=[1,"ashok",10.5,True]

print(l1[0:4])
print(l1[1:4])
print(l1[2])

[1, 'ashok', 10.5, True]
['ashok', 10.5, True]
10.5

 # Reverce slicilng

In [28]:
l1=[1,2,3,4,5,8,9,10,11]
print(l1[0:])
print(l1[1:-1])
print(l1[-1])
print(l1[-2])
#print[l1(-3)]

[1, 2, 3, 4, 5, 8, 9, 10, 11]
[2, 3, 4, 5, 8, 9, 10]
11
10

 # append the list

In [24]:
 l1=[1,2,3,4,5]
len(l1)
l1.append(6)
#print(l1)
#l1.insert(5,7)
l1.insert(10,11)
print(l1)
#del l1[1]
#print(l1)
#for i in l1:
   # print(i, end = " ")

[1, 2, 3, 4, 5, 6, 11]


  # membership operator

In [30]:
l1=[1,2,3,4,5,6]
print(1 in l1)
print(7 in l1)
print(2 not in l1)

True
False
False

 # Functions in Python:Max ,Min ,Sum ,Count ,Sort,len

In [ ]:
l1=[1,2,3,4,3,53]

print(l1.count(3))
#print(l1.sort())
print(l1)
print(l1[::2])
print(l1[:])

l2=[1,2,3,4,5]
print(l2[::2])
print(max(l1))
print(min(l1))
print(sum(l1))
print(len(l1))
print(sum(l1)/len(l1))
#print(sum(l1)//len(l1))

In [ ]:
list=[10,"ashok",10.5,True]
print(max(list))

 # function:pop() extend(),remove(),index()

In [57]:
l1=[1,2,3,4,5]
#print(l1.pop())
print(l1.pop(2))
#del l1[3]
print(l1)

3
[1, 2, 4, 5]

In [32]:
#extend():it can be used assign the values to one list to another list
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
l3=[11,12,13]
(l1.extend(l3))
print(l1)

[1, 2, 3, 4, 5, 11, 12, 13]

In [47]:
#index():it can be used to identify the indexing values of given list
l1=[1,2,3,4,5,6]
print(l1.index(2))

1

In [65]:
#del():
l1=[10,20,30,40,50,60,70]
del[2]
print(l1)

SyntaxError: can't delete literal (<ipython-input-65-6f7f9c68bc9b>, line 3)

 # Day 4 Tasks

In [ ]:
##Find out the sum of even number in given range 
n=int(input("enter the range"))
i=1
t=0
while i<=n:
    if i%2==0 :
        t=t+i
    i=i+1
print(t)

In [ ]:
##to print the given string is reverse order
name="Ashok3139"
print(name[::-1])

In [ ]:
##print the numbers between two limits
i=11
n=25
while i<=n :
    print(i,end =" ")
    i=i+1

In [ ]:
##print the largest numbere in given range
l1=[11,22,23,44,55]
print(min(l1))
print(max(l1))

In [ ]:
##print the given string in spaces and swap
n1="abc"
n2="xyz"
t=n1+n2
print(sum(t))
print([::-2])

In [ ]:
list li=[1,2,3,4]

 # Tuple:Tuple are Immutable means the value will not change,tuple is declared only().

In [ ]:

t=(10,"ashok",5.6,True)
print(t)
print(type(t))
print(t[2])

 # Dictionary:It is   muttable we can change values or items Dictionary are stored in "{ }"

In [61]:
d={"Gitam":"Dhanyatha","KPHB":"Hus Board","hyd":"sec"}
print(d)
d1={"ashok":0,"chanti":1992}
print(d1)

{'Gitam': 'Dhanyatha', 'KPHB': 'Hus Board', 'hyd': 'sec'}
{'ashok': 0, 'chanti': 1992}

In [ ]:
d.keys()

In [ ]:
d.values()

# using the dic method get() to retiview the values from dic

In [ ]:
print(d["KPHB"])

 # in other ways to get the varible d

In [ ]:
x=d.get("Gitam")
print(x)

In [ ]:
x=d.get("hyd")
print(x)

In [ ]:
#To add the values in dic
d["ashok"]=1992
d["chanti"]=1993
print(d)
d["Suma"]=1992
print(d)

In [ ]:
d.items()

In [ ]:
#using the key word to delete the dic value
del d["hyd"]
print(d)
del d["ashok"]
print(d)

In [ ]:
print(d)
# delete value using pop()
d.pop("ashok")
print(d)

In [ ]:
#clear() return the empty dictnary
d.clear()

In [ ]:
print(d)

 # Looping with Dictionary

In [ ]:
print(d)
for i in d.items():
    print(i)

In [ ]:
for i in d.values():
    print(i)

In [ ]:
for i in d :
    print(i)

In [ ]:
#1 to romove the first last items in the list
l1=["red","green","blue","yellow","orange"]
print(l1[1:4])

In [ ]:
# 2 To remove the duplicate items in the list
l2={"ashok":"hyd","chanti":"bombay","ashok":"hyd","priya":"thirupathi","chanti":"bombay"}
print(l2)

In [ ]:
#to create the list in sorting order
l3=[1,2,10,5,8,9]
x=l3.sort()
print(x)

In [ ]:
# 4 to display the given string count the repeted characters
s="dhyanahita"
for k in s:
    a=s.count(k)

for i in s:
    a=s.count()
print(i,a)

In [ ]:
#5 to print the second smallest number of the given list
l4=[1,2,3,4,5,6,7]
print(min(l4)+1)

In [ ]:
# 6 to create tuple and print the one item in tuple
t=(1,"ashok",10.5,True)
print(t)
print(t[2])

In [ ]:
# 10 to convert list of characters into string format
list=["a","b","c","d"]
for i in list:
    print(i,end="")
type(i)

In [ ]:
# 7 to create the list and convert into tuple
l6=[1,"ashok",10.5,True]
t=tuple(l6)
print(t)

In [ ]:
#9 to print the 5 consegitive num

### 3. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
def display(tuples):
    return sorted(tuples,key=last)
print(display( [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

In [ ]:
a=10
b=str(a)
print(b)
print(type(b))

In [ ]:
s='abcdef'
print(s[3:5])

 # Functions

In [ ]:
#function:Function is Block of code that was exicuted when will cal it
#syx: def funname(args)
#######statements#####
#ex additions of two numbers
#possitinal arguments
def add(a,b):   
    z=a+b
    print(z)
add(10,15)

In [ ]:
#task :print even num using function
a=int(input("enter the value : "))
def evennum(a):
    if a%2==0 :
        print("a is even number")
    else :
        print("a is odd number")
evennum(a)

In [ ]:
#print the infinte range values
def evennum():
    for i in range(1,10):
        if i%2==0 : 
            print(i,"even numbers")
        else :
            print(i,"odd num")
evennum()

 # Types of Arguments
  ## 1.Default arg
 ## 2.possitinal args
 ## 3.key word args
 ## 4.varible length arg

In [ ]:
#default args
def add(a=10,b=20):
    z=a+b
    print(z)
add()

In [ ]:
#keyword arg:
def display(firstname,lastname):
    print(firstname,lastname)
display(lastname="chanti",firstname="ashok")

In [ ]:
#varible length arguments:it can * operator it can store multiple values in the form list
def display(*a):
    print(a)
display([1,2,3,4,"ashok",10.5,True])

In [9]:
#user arguments
def display(n):
    n=int(input("enter tne num"))
    print(n)
display(n)

enter tne num10
10

In [8]:
#task:factors of a given num
def fact(n=6):
    for i in range(1,n+1):
        if n%i==0 :
            print(i,end =" ")
    
fact()

1 2 3 6

In [ ]:
#taken user aruguments
def fact(n):
    n=int(input("enter the num"))
    for i in range(1,n+1):
        if n%i==0 :
           # print(n)
            print(i,end =" ")
    
fact(n)

In [7]:
#write a programme to the factroies of given number
#taken user aruguments
n=0
def fact(n):
    n=int(input("enter the num"))
    for i in range(1,n+1):
        if n%i==0 :
            
            print(i,end =" ")
    
fact(n)

enter the num6
1 2 3 6

In [2]:
# write a programme functions to find the largest of 3 num
x=int(input("enter the first num"))
y=int(input("enter the second num"))
z=int(input("enter third num"))
def largenum(x,y,z):
    if x>=y and x>=z :
        print("x is large")
    elif y>=z :
        print("y is large")
    else : 
        print ("z is large")
        
largenum(x,y,z)

enter the first num10
enter the second num20
enter third num15
y is large

In [92]:
#write the programee to print the values in given range
x=int(input("emter the starting number"))
y=int(input("enter the range"))
n=int(input("enter choosing no:"))
def ranges():
    for i in range(x,y):
        if i==n:
            return True
    return False

ranges()

emter the starting number1
enter the range9
enter choosing no:10

False

In [97]:
#To print the large digit of the given number

def check(n):
    i=0
    while n!=0 :
        r=n%10
        if r>i :
            i=r
            n=n//10
            return i #Here return statement is used out of the statement also but we can use the return statement
check(12345)

5

In [47]:
# To print the factorial of given number
n=int(input("enter the num"))
def fact(n):
    if n==1:
        return 1
    else :
        return n*fact(n-1)  
fact(n)

enter the num4

24

In [46]:
fact(4)

24

In [87]:
#to print the febbaosic serires of given number

n=int(input("enter the range"))
def fibb(n):
    f1=0
    f2=1
    t=0
    if n<=0 :
        print(f1)
    else :
        print(f1, end=" ")
        print(f2, end=" ")
        for i in range(1,n+1):
            t=f1+f2
            print(t,end= " ")
            f1=f2
            f2=t

fibb(n)

enter the range5
0 1 1 2 3 5 8

 # set

In [6]:
#set:set is a unordered and unindexed it is represented by {} 
    it can stored any type of value like int string float bool....
    it can perform mathametical opertaions 
    delete function is not workig in set{}

IndentationError: unexpected indent (<ipython-input-6-71f24950ffc6>, line 2)

In [10]:
 s10={}
print(type(s10))

<class 'dict'>

In [11]:
s11={"ashok",3139,"chanti",12}
print(s11)

{'ashok', 'chanti', 3139, 12}

In [1]:
s={1,2,3}
s.update(["ashok",1020,"chanti"])
print(s)

{1, 2, 3, 'ashok', 'chanti', 1020}

In [16]:
s.add('ramesh')
print(s)

{'chanti', 1, 2, 3, 'ramesh', 'ashok', 1020}

In [18]:
s1={1,2,3,4,5}
s2={2,3,5,6,7,4}
s1.union(s2)
s1.intersection(s2)

{2, 3, 4, 5}

In [47]:
#s3={5,2,4,3,"ashok","priya"}
s4={10,20,30,"ashok","chanti"}
#s3.pop()
print(s3)
#s4.pop()
print(s4)

{3, 4, 5, 'priya', 'ashok'}
{'ashok', 10, 20, 'chanti', 30}

In [21]:
s3.remove(3)
print(s3)

{2, 'priya', 'ashok'}

In [59]:
# Discard:"it can perform set{} only it gives the perticular value of set that valus is discard(delete) in the set{}
s4={10,"ashok",10.5,20}
print(s4)
s4.discard(10.5)#this is one of the value of the set
print(s4)
s5={10,20,30,"ashok","chanti"}
print(s5)
s5.discard("chanti")#this is one of value of the set
print(s5)

{'ashok', 10, 10.5, 20}
{'ashok', 10, 20}
{'ashok', 'chanti', 10, 20, 30}
{'ashok', 10, 20, 30}

In [25]:
a={1,2,3,"ashok"}
a.clear()
print(a)

set()

In [39]:
#Delete is not working in set
#d={1,5,6,8,9}
del d[5]
print(d)

TypeError: 'set' object doesn't support item deletion

In [41]:
#we delete the duplicate values in set use b|c
b={1,2,3,4,5}
c={1,2,3,6,7,8}
b|c

{1, 2, 3, 4, 5, 6, 7, 8}

In [40]:
# we display the repeted value 
b={1,2,3,4}
c={2,3,5,6}
b&c

{2, 3}

In [42]:
#using return statement
def display(a,b):
    z=a+b
    return z
display(10,15)

25

# Type conversions

In [46]:
#To convert int to string
a="123456"
print(type(a))
a1=int(a)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
123456

In [50]:
#To convert float to string
b="2356"
print(type(b))
b1=float(b)
print(type(b1))
print(b1)

<class 'str'>
<class 'float'>
2356.0

In [51]:
#convert the string to tuple
b="2356"
print(type(b))
b1=tuple(b)
print(type(b1))
print(b1)

<class 'str'>
<class 'tuple'>
('2', '3', '5', '6')

In [62]:
#convert string to set
b="2356"
print(type(b))
b1=set(b)
print(type(b1))
print(b1)

<class 'str'>
<class 'set'>
{'6', '5', '3', '2'}

In [53]:
#convert string to list
b="2356"
print(type(b))
b1=list(b)
print(type(b1))
print(b1)

<class 'str'>
<class 'list'>
['2', '3', '5', '6']

In [81]:
#convert string to list
b=(2,3,5,6)
print(type(b))
b1=list(b)
print(type(b1))
print(b1)

<class 'tuple'>
<class 'list'>
[2, 3, 5, 6]

In [80]:
# To print the ASCII value
ord('a')

97

In [69]:
#To find out the ASCII values of Given Characters
i1='a'
print(type(i1))
i2=ord('a')
print(i2)
print(type(i2))

<class 'str'>
97
<class 'int'>

In [82]:
#To convert the tuple to dictonary
t=(1,2,4,5,6)
print(type(t))
d=dict(t)
print(d)
print(type(d))#it is not possible tuple to dictonory

<class 'tuple'>

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [66]:
num=6+9j
type(num)

complex

In [14]:
#difference between pop(),delete(),remove() functions
lis=[10,20,"ashok",10.5,True]
lis.pop()#it delete the last element of the elememnt list
del lis[3] #Here it can be used to delete the pertcular index  of the list
lis.remove("ashok") #here to give the specific "vlue"of the list
print(lis)

[10, 20]

In [60]:
#Difference between insert and Extened function
lis=[10,20,30]
lis1=[40,50,60]
lis.extend(lis1)
lis.insert(5,80)
print(lis)

[10, 20, 30, 40, 50, 80, 60]

In [54]:
l10={10,20,30,40}
#print(l10)
l10.discard(20)
print(l10)

{40, 10, 30}

# File operations
## It can used to retrview the file form ever desktop or any other remote loaction also
## open()
## read()
## write()
## close()
## remove()
# Note:we can delete the entire folder os.rmdir()

In [48]:
f=open("Samplefile.txt")
print(f.read())

Hiii Helloksmkvdkfvldm,v.m/kvm